h1 {font-size: 50px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: bold;
  text-align: center ;
}
.class1{font-size: 30px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  text-align: center

}

.a_1 {display: block;  text-align:center;}